.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $container-padding-y $container-padding-x;
  border-bottom: 1px solid;

  nav {
    ul {
      display: flex;
    }
    .login-btn {
      @include twitter-btn($primary-color, #00000000);
    }

    .register-btn {
      @include twitter-btn($white, $primary-color);
    }
  }
}
