@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin header-btn($color, $bg-color) {
  padding: $btn-padding-y $btn-padding-x;
  border-radius: 80px;
  color: $color;
  background-color: $bg-color;
  border: #42a5f5 1px solid;
}
